body {
  background-image: URL("../images/turf.jpg");
  background-size: cover; }

.row {
  margin: 0px; }

.col-sm-6 {
  padding: 0px; }

nav ul ul {
  display: none; }

nav ul {
  background: #efefef;
  background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
  background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
  background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  border-radius: 0px 0px 10px 10px;
  list-style: none;
  text-align: center; }

nav ul li {
  display: inline-block;
  font-size: 1.5em; }

nav ul:after {
  content: "";
  clear: both;
  display: block; }

nav ul li:hover {
  background: #4b545f;
  background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%); }

nav ul li:hover a {
  color: #fff;
  text-decoration: none; }

nav ul li a {
  display: block;
  padding: 10px;
  color: #757575;
  text-decoration: none; }

.brand h1 {
  text-align: center; }

.divisions {
  color: white; }
  .divisions h3 {
    color: black;
    background-color: rgba(250, 250, 250, 0.6);
    width: 500px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px; }
  .divisions .AFC {
    padding: 0px;
    text-align: center; }
    .divisions .AFC .teams {
      padding: 0px;
      min-height: 150px; }
      .divisions .AFC .teams img {
        padding: 0px 5px; }
  .divisions .NFC {
    padding: 0px;
    text-align: center; }
    .divisions .NFC .teams {
      padding: 0px;
      min-height: 150px; }
      .divisions .NFC .teams img {
        padding: 0px 5px; }
