.row {
  margin: 0px;
}

.col-sm-6 {
  padding: 0px;
}

nav {
  ul {
    padding: 0px;
    text-align: center;
    li {
      display: inline-block;
      border: 1px solid black;
      padding: 5px;
      a {
        text-decoration: none;
      }
    }
  }
}

.brand {
  h1 {
    text-align: center;
  }
}

.divisions {
  .AFC {
    padding: 0px;
    text-align: center;
    .teams {
      padding: 0px;
      min-height: 150px;
      img {
        padding: 0px 5px;
      }
    }
  }
  .NFC {
    padding: 0px;
    text-align: center;
    .teams {
      padding: 0px;
      min-height: 150px;
      img {
        padding: 0px 5px;
      }
    }
  }
}
