nav ul {
  padding: 0px;
  text-align: center; }
  nav ul li {
    display: inline-block;
    border: 1px solid black;
    padding: 5px; }
    nav ul li a {
      text-decoration: none; }

.brand h1 {
  text-align: center; }

.divisions .AFC {
  padding: 0px;
  text-align: center; }
  .divisions .AFC .team {
    padding: 0px; }
.divisions .NFC {
  padding: 0px;
  text-align: center; }
  .divisions .NFC .team {
    padding: 0px; }
